# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Poetry
*.egg-info/
dist/
build/
.venv/
venv/
.mypy_cache/
.pytest_cache/
.tox/
.coverage
.pypoetry/
.cache/
.cache/pypoetry/
.cache/pypoetry/virtualenvs/

# IDEs and editors
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
